* {
    text-align: center !important;
    margin auto !important;
}

body{
    color: #444;
    background-color: #EEE;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6em;
    padding: 0;
}

p {
   font-size: 16px;
}

img {
    width: 100%;
    heigh: auto;
}

#whatsapp-icon {
    height: 1.5em;
    width: auto;
}
